body{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Oswald', sans-serif;
   
}
h1{
    font-size: 50px;
   
}
.orange-light{
    color: orange;
}
.first-half{
    margin-top: 2%;
    width: 40%;
    float: left;
    margin-left: 2%;
    padding-left: 2%;
}
.first-half img{
    width: 100%;
}
.link-button{
    margin: 100px 80px;
    text-decoration: none;
    background-color: rgb(94, 255, 0);
    padding: 5px 30px;
    border-radius: 5px;
    color: white;
    font-weight: 700px;
    background-image: linear-gradient(45deg, salmon, orange);
}
.head-area{
    margin-top: 100px;
    margin-left: 10px;
    clear: both;
    text-align: center;
}
